<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskMax</title>
  <link rel="icon" href="/favicon/favicon.ico?v=1.1">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="body-container">
    <div class="logo-container">
      <form action="/" method="get">
        <button class="logo-btn" type="submit">
          <h1>TaskMax</h1>
        </button>
      </form>
    </div>

    <div class="err"><strong>Error 404</strong></div>
    <div class="errmsg"><strong>Not Found</strong></div>
  </div>

</body>

</html>